.game {
    overflow: hidden;
    margin-top: 0%;
    margin-left: 22%;
    padding-top: 1px;
    width: 998px;
    height: 700px;
    border: 1px, black;
    background-color: rgb(146, 164, 187);
}

.pet {
    padding: 1px;
    margin-left: 400px;
    margin-top: 300px;
    z-index: 100;
}

/* Existing Styles */
/* ... */

/* New Animation Keyframes */
@keyframes moveCloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(500px); }
}



.cloudOne {
    animation: moveCloud 20s linear infinite;
}

.cloudTwo {
    padding-left: 400px;
    animation: moveCloud 20s linear infinite;
}

.careBar {
    display: flex;
    padding-top: 1px;
    width: 1000px;
    height: 125px;
    z-index: 10;
    margin-top: 10px;
    background: pink;
    position: fixed;
}
.careBar img{
	width:15px;
	height:15px;
	margin-left:2px;
	margin-right:2px;
}
.careBar form{
	margin-left: 20px;
}
input[type="submit"] {
	background-color: rgb(214, 172, 208);
	font-weight: bolder;
	font-size: 90%;
	margin-left: 300px;
}
.bone {
    display: inline;
    z-index: 20;
}

.leaderboard {
    background: rgb(219, 193, 145);
    top: 0;
    float: right;
    width: 200px;
    height: 500px;
}

.statusBar {
    float:inline-start;
    width: 140px;
    height: 25px;
    margin-left: 40%;
}

.happystars{
    margin-bottom: 150px !important;
    float: left;
}

@keyframes walkAnimation {
    100%, 100% { transform: translateX(0); } /* Start and end at the original position */
    50% { transform: translateX(350px); } /* Move forward to 300px at halfway point */
}

.walking {
    animation: walkAnimation 4s linear 2; /* 4 seconds for a full forward and back cycle, repeated twice */
}

@keyframes runAnimation {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(500px); } /* Adjust distance and speed as needed */
}

.running {
    animation: runAnimation 1s linear 2;;
}

.treat-image {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    position: absolute; /* For positioning relative to the dog */
    left: [value]; /* Adjust as needed */
    top: [value]; /* Adjust as needed */
}

.food-image {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    position: absolute; /* Position relative to the parent element */
    left: [desired left position]; /* Adjust as needed */
    top: [desired top position]; /* Adjust as needed */
}


